*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --bg-color: #191919;
    --bg-color-field: #111;
    --white: #fff;
    font-size: 62.5%
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--bg-color);
    min-height: 100vh;
    color: var(--white);
}

canvas{
    background-color: var(--bg-color-field);
}

.score{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
}

.score-value{
    font-weight: 700;
    font-size: 4.5rem;
    display: block;
    margin-top: -10px;
}

.menu-screen{
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 3;
}

.game-over{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
}

.final{
    font-weight: 500;
    font-size: 1.5rem;
}

.btn-play{
    border: none;
    border-radius: 10rem;
    padding: 1rem 1.5rem 1rem 1.2rem;
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    cursor: pointer;
}